

/* search button of employee */
   .search{
   position: relative;

   }

   .search input{

    height: 40px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    border-radius: 10px;

   }


   .search input:focus{

    box-shadow: none;
    border: 2px solid blue;


   }
   .search .fa-search{

    position: absolute;
    top: 10px;
    left: 16px;

   }
   .search button{
    position: absolute;
    top: 5px;
    right: 4px;
    height: 30px;
    width: 80px;
    background: rgb(170, 206, 230);
    border: 2px solid rgb(170, 206, 230); 
    border-radius: 25px;
    

   }



/* navbar */
   .search:hover>.button{
    background:#1A237E;
    color:#fff;
   }
   .navList{
    display: flex;
    justify-content: space-evenly;
   }
   .navList>li{
    list-style: none;
   }
   .navList>li>a{
    color: black;
   }
 .navList>li>a:hover{
    font-weight: bold;
    color: black;
    transform: scale(1.3);
    padding-left: 0%;

    transition: 500ms;
 }  

 /* home page card  */

.cpInfo{
    margin-top: 50px;
    height: 200px;
   
}
.cpInfo>div{
   position: relative;
   
}
.cpInfo>div>h3{
    position: absolute;
    top: 30%;
    
    
}
.cpInfo>div>div{
    position: absolute;
    top: 30%;
}
.cardInfo{
    width: 30%;
    border: 2px solid;
    border-radius: 20px;
   
}
.cardInfo1{
    width: 23%;
    border: 2px solid black;
    border-radius: 20px;
   
}
.cardInfo:hover{
    transform: scale(1.2);
    transition: 500ms;
}
.cardInfo1:hover{
    transform: scale(1.2);
    transition: 500ms;
}
/* calculation part form */
.ComEx{
    height: 400px;
    border: 1px solid;
    border-radius: 60px;
    background-color: rgb(249, 225, 225);
}
.ComEx>input{
    border: 0px;
    border-bottom: 1px solid ;
    background-color: rgb(249, 225, 225);
} 
.ComEx>div>select{
   
    background-color: rgb(249, 225, 225);
}
textarea:focus, input:focus{
    outline: none;
}


.emInfo{
    margin-top: 20px;
}

.emInfo>div{
    margin-top: 15px;
}

/* footer */
footer{
    height: 300px;
    background-color:  rgb(170, 206, 230);
    margin-top: 100px;
}
footer>div{
    display: flex;
    justify-content:space-around;
   
}
footer>div>div{
    width: 50%;
}
footer>div>div>h3{
    text-align: center;
    padding-top: 30px;
}
footer>div>div>p{
    text-align: center;
    padding-top: 10px;
}
footer>div>div>div>ul{
    width: 50%;
    margin: auto;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}